################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode
/AdventOfCode/bin/Debug/netcoreapp2.1
/AdventOfCode/obj
/AdventOfCode/bin/Debug/netcoreapp3.1
